body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

header {
    background-color: #3e3e3e;
    color: white;
    height: 7em;
    border-radius: 5px;
}

h1 {
    font-family: 'sans';
    color: #3e3e3e;
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
    padding: 0.5em 0;
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-family: 'sans';
    font-weight: 400;
    padding: 0.3em 0.5em;
    font-size: 2em;
    margin: 0;
}

p {
    font-family: 'sans';
    padding: 0 1em;
    font-size: 1.2em;
}

main, header {
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

li {
    display: inline-block;
    margin: 0.5em;
}

#gallery {
    padding: 0;
}

#gallery .gal-item img {
    -webkit-box-shadow: 0 0 8px #888;
    box-shadow: 0 0 8px #888;
}
