@import 'compass/css3';

.gal-maximized-layer {
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    &.hidden {
        display: none;
    }
    .gal-item {
        margin: 0;
    }
    .gal-control-next,
    .gal-control-prev {
        @include border-radius(2em);
        @include box-shadow(0 0 5px #000);
        @include transition(opacity .4s ease);
        background-color: rgba(0, 0, 0, .8);
        border: 1px solid #fff;
        cursor: pointer;
        display: block;
        height: 4em;
        margin-top: -2em;
        opacity: .1;
        position: absolute;
        top: 50%;
        width: 4em;
        &:hover {
            opacity: 1;
        }
        &:after {
            color: #fff;
            content: '>';
            display: block;
            font-size: 2em;
            height: 2em;
            left: 0;
            line-height: 2em;
            position: absolute;
            text-align: center;
            top: 0;
            width: 2em;
        }
    }
    .gal-control-prev {
        left: 2em;
        @include transform(rotate(180deg));
    }
    .gal-control-next {
        right: 2em;
    }
    .gal-thumb-panel {
        @include transition(all .5s ease);
        background-color: #000;
        bottom: -40px;
        display: none;
        height: 60px;
        margin: 0;
        opacity: .6;
        overflow: hidden;
        padding: 4px 0;
        position: absolute;
        width: 100%;
        @media only screen and (min-width: 768px) {
            display: block;
        }
        &:hover {
            bottom: 0;
            opacity: 1;
        }
        ul {
            @include transition(all .5s ease);
            height: 100%;
            margin: 0;
            min-width: 200%;
            padding: 0;
        }
        li {
            display: inline-block;
            height: 100%;
            margin: 0 1px;
        }
        .gal-item {
            display: block;
            height: 100%;
            outline-style: none;
            img {
                @include box-shadow(none);
                @include transition(opacity .5s ease);
                height: 100%;
                opacity: .2;
                width: auto;
            }
            &:hover img,
            &.gal-current-item img {
                opacity: .9;
            }
        }
    }
    &.touch-supported {
        .gal-thumb-panel {
            bottom: 0;
            opacity: 1;
        }
        .gal-close-button {
            @include border-radius(50%);
            background-color: #fff;
            display: inline-block;
            font-family: sans;
            font-size: 25px;
            height: 1em;
            line-height: 1em;
            margin: 5px;
            padding: .2em;
            position: absolute;
            right: .8em;
            text-align: center;
            top: .5em;
            width: 1em;
        }
    }
    ul.gal-maximized-gallery {
        padding: 0;
        .gal-item {
            @include transition(all .5s ease);
            display: none;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            img {
                border: 2px solid #fff;
                bottom: 0;
                height: 90%;
                left: 0;
                margin: auto;
                position: absolute;
                right: 0;
                top: 0;
            }
            &.gal-current-item,
            &.gal-next-item,
            &.gal-prev-item {
                display: block;
            }
            &.gal-next-item,
            &.gal-prev-item {
                opacity: 0;
            }
            &.gal-prev-item {
                @include transform(translateX(-150%) scale(.7));
            }
            &.gal-next-item {
                @include transform(translateX(150%) scale(.7));
            }
        }
        .gal-meta-box {
            background-color: transparent;
            left: 50%;
            margin: 0;
            pointer-events: none;
            position: absolute;
            top: 50%;
            div {
                background-color: rgba(0, 0, 0, .7);
                bottom: 0;
                position: absolute;
                width: 100%;
                p {
                    color: #fff;
                }
            }
        }
    }
}