@import "compass/css3";

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

header {
    background-color: #3e3e3e;
    color: white;
    height: 7em;
    @include border-radius(5px);
}

h1 {
    font-family: 'sans';
    color: #3e3e3e;
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
    padding: 0.5em;
    font-size: 3em;
    font-weight: 400;
}

h2 {
    font-family: 'sans';
    font-weight: 400;
    padding: 0.3em 0.5em;
    font-size: 2em;
    margin: 0;
}

p {
    font-family: 'sans';
    padding: 0 1em;
    font-size: 1.2em;
}

main, header {
    width: 90%;
    max-width: 1024px;
    margin: auto;
}

li {
    display: inline-block;
    margin: 0.5em;
}

.gal-item {
    img {
        @include box-shadow(0 0 8px #888);
    }
}

#gallery {
    margin: auto;
    text-align: center;
}

.gal-maximized-layer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    &.hidden {
        display: none;
    }
    ul {
        padding: 0;
        .gal-item {
            display: none;
            img {
                margin: 2em auto;
                display: block;
                width: 90%;
            }
            @include transition(all 0.5s ease);
            &.gal-current-max, &.gal-next-max, &.gal-prev-max {
                display: block;
            }
            &.gal-next-max, &.gal-prev-max {
                position: absolute;
                top: 0;
                opacity: 0;
            }
            &.gal-prev-max {
                @include transform(translateX(-150%) scale(0.7));
            }
            &.gal-next-max {
                @include transform(translateX(150%) scale(0.7));
            }
        }
    }
}