@import "compass/css3";

.gal-item {
    img {
        @include box-shadow(0 0 8px #888);
    }
}

#gallery {
    margin: auto;
    text-align: center;
}

.gal-maximized-layer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    &.hidden {
        display: none;
    }
    .gal-control-next, .gal-control-prev {
        width: 4em;
        height: 4em;
        display: block;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        border: 1px solid white;
        @include border-radius(2em);
        @include box-shadow(0 0 5px #000);
        @include transition(opacity 0.4s ease);
        top: 50%;
        margin-top: -2em;
        cursor: pointer;
        opacity: 0.1;
        &:hover {
            opacity: 1;
        }
        &:after {
            content: '>';
            display: block;
            color: white;
            width: 2em;
            height: 2em;
            font-size: 2em;
            line-height: 2em;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
        }
    }
    .gal-control-prev {
        left: 2em;
        @include transform(rotate(180deg));
    }
    .gal-control-next {
        right: 2em;
    }
    .gal-thumb-panel {
        height: 60px;
        padding: 4px 0;
        width: 100%;
        position: absolute;
        margin: 0;
        bottom: 0;
        background-color: black;
        li {
            display: inline-block;
            margin: 0 1px;
            .gal-item {
                display: block;
                height: 100%;
                img {
                    height: 100%;
                    width: auto;
                    opacity: 0.2;
                    @include box-shadow(none);
                    @include transition(opacity 0.5s ease);
                }
                &:hover, &.gal-current-max {
                    img {
                        opacity: 0.9;
                    }
                }
            }
        }
    }
    ul.gal-maximized-gallery {
        padding: 0;
        .gal-item {
            display: none;
            @include transition(all 0.5s ease);
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 90%;
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            &.gal-current-max, &.gal-next-max, &.gal-prev-max {
                display: block;
            }
            &.gal-next-max, &.gal-prev-max {
                opacity: 0;
            }
            &.gal-prev-max {
                @include transform(translateX(-150%) scale(0.7));
            }
            &.gal-next-max {
                @include transform(translateX(150%) scale(0.7));
            }
        }
    }
}